@media screen and (max-width: 650px) {
    #menu-desktop {
        display: none;
    }
    #menu__bar {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    #resp_nav-text {
        font-size: 10px;
    }
}


.core-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigation-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    width: 10%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.nav-btn:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.nav-btn-active {
    background-color: #888888;
}

.nav-btn-ga-active {
    background-color: #000;
    color: white;
}

.nav-text {
    text-align: center;
}

.content-wrapper {
    width: 100%;

}

/* HAMBURGER MENU EDITS */

.hamburger-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    display: none;
    margin: 0 50px auto auto;
    cursor: pointer;
}

#mui-menu {
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.mui-nav-wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.menu-item-wrap {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mui-nav-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(100, 100, 100);
}

.mui-link-active {
    background-color: #0C1D41;
    color: white;
}

.menu-icon {
    background-color: #0C1D41;
    padding: 10px;
    border-radius: 12px;
}