@media screen and (max-width: 450px) {
    #resp_name-text {
        font-size: 20px;
    }
    #resp_title-text {
        font-size: 14px;
    }
    #resp_certs-text {
        font-size: 10px;
    }
    #resp_landline-text, #resp_mob-text, #resp_email-text, #resp_bio-text {
        font-size: 10px;
    }
}

.profiles-wrapper {
    width: 50%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prof-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}

.prof-photo {
    width: 33%;
    height: 50%;
    margin: 0px 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: baseline;
}

.name-text, .title-text, .certs-text, .mob-text, .email-text {
    margin: 0;
}

.name-text {
    font-size: 32px;
}

.title-text {
    font-size: 24px;
}

.certs-text {
    font-size: 20px;
}

.landline-text {
    font-size: 16px;
}

.landline-text {
    margin: 10px 0px 0px 0px;
}
