.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#footer-logo {
    height: 30px;
    margin-right: 10px;
}